body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
}

#quote-container {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

#quote-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontaal centreren */
    margin-top: 20px;    /* Ruimte onder de image */
    /* Geen height: 100vh, geen justify-content */
    text-align: center;
    padding: 0 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#quote {
    font-size: 1.8rem;
    line-height: 1.5;
    max-width: 800px;
    position: relative;
}

#quote::before, #quote::after {
    font-family: serif;
    font-size: 3rem;
    color: #bb86fc;
    position: absolute;
}

/*
#quote::before {
    content: "“";
    left: -30px;
    top: -10px;
}

#quote::after {
    content: "”";
    right: -30px;
    bottom: -20px;
} */

#source-container {
    margin-top: 15px;
}

button {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bb86fc;
    color: #121212;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#politician-img {
    cursor: pointer;
    top: 50px;
    max-width: 300px;
    display: block;
    margin: 0 auto 20px;
}

#politician-choice img {
    cursor: pointer;
    width: 200px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
}

#politician-choice img:hover {
    transform: scale(1.1);
}

#selected-politician-img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Startscreen als overlay midden in beeld */
#start-screen {
    position: fixed; /* Blijft op z'n plek, geen invloed op andere content */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Exact midden */
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 2rem;  /* vergelijkbaar met quotes */
    color: #fffcfc;
    z-index: 10; /* boven andere content */
}

/* #quote-section {
    display: none;
} */

button:hover {
    background-color: #9c61e8;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
